<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instruments Management</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container text-center mt-5">
        <h1>Categories</h1>
        <div class="mt-4">
            <a href="{% url 'add_category' %}" class="btn btn-primary btn-lg">Add Category</a>
        </div>
      

        <table class="table table-striped mt-4">
            <thead>
                <tr>
                    <th>Category Name</th>
                    <th>Category Description</th>                                 
                </tr>
            </thead>
            <tbody>
                {% for category in categories %}
                <tr>
                    <td>{{ category.category_name }}</td>
                    <td>{{ category.category_description }}</td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="3">No categories available.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>