
{% extends "base.html" %} 

<title>{% block title %}Delete Category{% endblock %}</title>    
{% block content %}
<div class="container text-center mt-5">
    <h1>Delete Category</h1>
    <p>Are you sure you want to delete the category "{{ category.category_name }}"?</p>
    <form method="POST" action="{% url 'delete_category' category.id %}">
        {% csrf_token %}
        <button class="btn btn-danger" type="submit">Delete</button>
        <a href="{% url 'categories' %}" class="btn btn-secondary">Cancel</a>
    </form>
</div>
{% endblock %}
