{% extends "base.html" %}
{% load static %}


{% block title %} Add Instrument {% endblock title %}
{% block content %}
    <div class="container mt-5">
        <h1>Add Instrument</h1>
        <form method="POST" action="{% url 'add_instrument' %}"> <!-- Adjust action URL as necessary -->
            {% csrf_token %}
            <div class="form-group">
                <label for="instrument_name">Instrument Name</label>
                <input type="text" class="form-control" id="instrument_name" name="instrument_name"required>
            </div>  
            <div class="form-group">
                <label for="instrument_category">Instrument Category</label>                
                <select class="form-control" id="instrument_category" name="instrument_category">
                    <option value="">Select a Category</option>                  
                    {% for category in categories %}                     
                        <option value="{{ category.category_name }}">{{ category.category_name }}</option>                
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="model_number">Model Number</label>
                <input type="text" class="form-control" id="model_number" name="model_number" required>
            </div>
            <div class="form-group">
                <label for="manufacturer">Manufacturer Name</label>
                <input type="text" class="form-control" id="manufacturer" name="manufacturer" required>
            </div>
            <div class="form-group">
                <label for="purchased_On">Purchase Date</label>
                <input type="date" class="form-control" id="purchased_On" name="purchased_On" required>
            </div>
            <div class="form-group">
                <label for="owned_by">Owned by</label>
                <input type="text" class="form-control" id="owned_by" name="owned_by" required>
            </div>
            <div class="form-group">
                <label for="location">Location</label>
                <input type="text" class="form-control" id="location" name="location" required>
            </div>
            <div class="form-group">
                <label for="status">Status</label>
                <input type="text" class="form-control" id="status" name="status" required>
            </div>
            <div class="form-group">
                <label for="maintenance_date">Maintenance Date</label>
                <input type="date" class="form-control" id="maintenance_date" name="maintenance_date" required>
            </div>
           
            <button class="btn btn-success" type="submit" value="Save">Add Instrument</button>
        </form>
    </div>
    {% endblock content %}
