{% extends 'base.html' %} 


<title>{% block title %}Add Category{% endblock %}</title>    
{% block content %}

<div class="container my-4">
    <div class="card shadow-sm rounded p-3">
        <div class="row align-items-center">
            <div class="col-md-6">
                <h4 class="display-6 mb-0 text-success">Instruments Management</h4>
            </div>
            <div class="col-md-6 d-flex justify-content-end gap-2">
                <a class="btn btn-success btn-sm rounded-pill shadow-sm" href="{% url 'add_instrument' %}">
                    <i class="fa-solid fa-plus"></i> Add Instrument
                </a>
            </div>            
        </div>
        <form class="input-group mt-4" role="search" id="searchform" action="{% url 'instrument_search_list' %}" method="get" accept-charset="utf-8">
            <input id="searchbox" name="query" type="text" class="form-control border-0 rounded-pill shadow-sm" placeholder="Search Instruments..."
            value ="{{ query }}">
            <button class="btn btn-outline-success rounded-pill shadow-sm" type="submit">
                <i class="fa-solid fa-search"></i>
            </button>
        </form>
    </div>
</div>

<div class="container">
    <style>
      .table th, .table td {
          text-align: center;
      }
    </style>
    <table class="table table-sm table-striped table-bordered">
        <thead class="thead-light">
            <tr>
                <th scope="col">Instrument Name <i class="fa-solid fa-sort"></i></th>
                <th scope="col">Instrument Category <i class="fa-solid fa-sort"></i></th>
                <th scope="col">Model Number <i class="fa-solid fa-sort"></i></th>
                <th scope="col">Manufacturer <i class="fa-solid fa-sort"></i></th>
                <th scope="col">Purchase Date <i class="fa-solid fa-sort"></i></th>
                <th scope="col">Owned By <i class="fa-solid fa-sort"></i></th>
                <th scope="col">Location <i class="fa-solid fa-sort"></i></th>
                <th scope="col">Status <i class="fa-solid fa-sort"></i></th>
                <th scope="col">Maintenance Date</th>                     
            </tr>
        </thead>
        <tbody>
            {% for instrument in instruments %}
            <tr>               
                <td>{{ instrument.instrument_name }}</td>
                <td>{{ instrument.category  }}</td>
                <td>{{ instrument.model_number  }}</td>
                <td>{{ instrument.manufacturer  }}</td>
                <td>{{ instrument.purchased_On  }}</td>
                <td>{{ instrument.owned_by }}</td>
                <td>{{ instrument.location }}</td>
                <td>{{ instrument.status }}</td>
                <td>{{ instrument.maintenance_date  }}</td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="3">No instruments available.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>    
</div>
{% endblock %}