<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instruments Management</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container text-center mt-5">
        <h1>Instruments Management</h1>
        <div class="mt-4">
            <a href="{% url 'add_instrument' %}" class="btn btn-primary btn-lg">Add Instrument</a>
        </div>

        <table class="table table-striped mt-4">
            <thead>
                <tr>
                    <th>Instrument Name</th>
                    <th>Instrument Category</th>
                    <th>Model Number</th>
                    <th>Manufacturer</th>
                    <th>Purchase Date</th>
                    <th>Owned By</th>
                    <th>Location</th>
                    <th>Status</th>
                    <th>Maintenance Date</th>                    
                </tr>
            </thead>
            <tbody>
                {% for instrument in instruments %}
                <tr>
                    <td>{{ instrument.instrument_name }}</td>
                    <td>{{ instrument.instrument_category  }}</td>
                    <td>{{ instrument.model_number  }}</td>
                    <td>{{ instrument.manufacturer  }}</td>
                    <td>{{ instrument.purchased_On  }}</td>
                    <td>{{ instrument.owned_by }}</td>
                    <td>{{ instrument.location }}</td>
                    <td>{{ instrument.status }}</td>
                    <td>{{ instrument.maintenance_date  }}</td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="3">No instruments available.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>